{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">

            {{ form_start(form, {'attr': {'id': 'upload'}}) }}
            {{ form_row(form.info, { 'label': ' ' }) }}
            {{ form_row(form.hashFile, { 'label': 'Load' }) }}
            {{ form_row(form.hashEmail, { 'label': 'Email' }) }}
            <input type="submit" value="Submit" class="btn btn-primary"/>
            {{ form_end(form) }} 
        </div>
    </div>

{% endblock %}
