{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <p>  
                <a href="{{ path('admin') }}"  class="btn btn-default" >Admin panel</a>
            </p>

            {{ form_start(form, {'attr': {'id': 'upload'}}) }}
            {{ form_row(form.info) }}
            {{ form_row(form.file, { 'label': 'Load' ,  'attr': {'class': 'btn btn-default btn-file'}} ) }}
            {{ form_row(form.email) }}

            <p>  
                <input type="submit" value="Submit" class="btn btn-primary"/>
            </p>
            {{ form_end(form) }} 

        </div>
    </div>
{% endblock %}
