{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">

            <h1>Uploads list</h1>

            <table  id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Info</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in files %}
                        <tr>
                            <td>{{ file.id }}</td>
                            <td>{{ file.info }}</td>
                            <td>{{ file.hashFile }}</td>
                            <td>
                                <a href="{{ path('file_edit', { 'id': file.id }) }}">edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('homepage') }}">Back to homepage</a>
        </div>
    </div>

{% endblock %}
